        <footer>
            {{ $currentYear := now.Year | string }}
            {{ $gitHash := "" }}
            {{/* Try to get git hash from current page or home page */}}
            {{ if and .GitInfo .GitInfo.Hash }}
                {{ $gitHash = substr .GitInfo.Hash 0 7 }}
            {{ else if and .Site.Home .Site.Home.GitInfo .Site.Home.GitInfo.Hash }}
                {{ $gitHash = substr .Site.Home.GitInfo.Hash 0 7 }}
            {{ end }}
            <p class="copyright text-muted">
                © {{ $currentYear }} All rights reserved.
                {{ if $gitHash }}
                    | <code>{{ $gitHash }}</code>
                {{ end }}
                | <a href="/terms-of-service">Terms of Service</a>
            </p>
        </footer>
       
    </body>

</html>
