{{ $altText := .Get "alt"}}
{{ $caption := .Get "caption"}}
{{ with $.Page.Resources.GetMatch (.Get "name") }}
  <figure>
    <a href="{{.RelPermalink}}">
      <img
        srcset="
          {{ (.Resize "2000x webp").RelPermalink type="image/webp" }} 2x,
          {{ (.Resize "1000x webp").RelPermalink type="image/webp" }} 1x,
          {{ (.Resize "2000x png").RelPermalink type="image/jpg" }} 2x"
        src="{{ (.Resize "800x jpg").RelPermalink type="image/jpg" }}" alt="{{$altText}}"/>
    </a>
    <figcaption><p>{{ $caption }}</p></figcaption>
  </figure>
{{ else }}
  could not find image
{{ end }}
