{{ $altText := .Get "alt"}}
{{ $caption := .Get "caption"}}
{{ with $.Page.Resources.GetMatch (.Get "name") }}
  <figure>
    <a href="{{.RelPermalink}}">
      <img
        srcset="
          {{ (.Resize "2000x webp q90").RelPermalink }} 2x,
          {{ (.Resize "1000x webp q90").RelPermalink }} 1x"
        src="{{ (.Resize "400x jpg q60").RelPermalink }}" alt="{{$altText}}" defer/>
    </a>
    <figcaption><p>{{ $caption }}</p></figcaption>
  </figure>
{{ else }}
  could not find image
{{ end }}
